@{
    ViewBag.Title = "Samochody";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Lista samochodów dostępnych w naszej wypożyczalni<br />
<p>Pokaż samochody @Html.ActionLink("Samochody", "Index", "Cars")</p>
<p>Admin - dodaj samochody @Html.ActionLink("Dodaj", "Create", "Cars")</p>
<p>Admin - edytuj samochody @Html.ActionLink("Edytuj", "Edit", "Cars")</p>
